/*Some styles borrowed from CS50 Finance Pset and Lab 9*/

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

select
{
    padding: 4px
}


main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;

    font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, URW Palladio L, Nimbus Roman No9 L, serif;

    font-size: 18px;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(240, 240, 240)
}
