{% extends "layout.html" %}

{% block title %}
    Daily Top Ten
{% endblock %}

{% block main %}

    <div>
        <h2>Top Ten Value Stocks of the Day</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Stock</th>
                            <th>Shares</th>
                            <th>Price Per Share</th>
                            <th>Transaction Type</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Number</td>
                            <td>Another Number</td>
                            <td>Another Nother Number</td>
                            <td>Some More</td>
                            <td>Last One</td>
                        </tr>
                        <tr>
                            <td>Number</td>
                            <td>Another Number</td>
                            <td>Another Nother Number</td>
                            <td>Some More</td>
                            <td>Last One</td>
                        </tr>
                    </tbody>
                </table>
    </div>

{% endblock %}